<aside>
  <div class="main-title-wrapper">
    <h2 class="main-title-typography center-text"><%=page.mainTitle %></h2>
  </div>
  <div class="block sidebar shadows_block border_radius_block_sidebar">
    <div class="sidebar-link-typography-title-wrapper">
      <h3 class="sidebar-title-typography"><%= sidebarName %> </h3>
    </div>
    <nav>
      <ul>
        <% static.header.find(item=>item.link.includes(route.split("/")[1])).sidebar.sidebarItems.forEach((sidebarItem)=>{ %>
        <li class="sidebar-list-element">
          <a class="nav-link-typography <%= route.split("/")[2]===sidebarItem.link ? 'underline' : null%>" href="<%=sidebarItem.link%>"
            ><%= sidebarItem.name %></a
          >
        </li>
        <% }); %>
      </ul>
    </nav>
  </div>

</aside>
